*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

.header{
    height: 100vh;
    width: 100%;
    padding: 0 8%;
    position: relative;
}

body{
    background-color: #fff;
    color: black;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 140px;
}

.nav-links{
    padding: 28px 0;
}

.nav-links li{
    display: inline-block;
    margin: 0 15px;
}

.nav-links li a{
    text-decoration: none;
    color: black;
    padding: 5px 0;
    position: relative;
}

.nav-links li a::after{
    content: '';
    background: #1a8dda;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.nav-links li a:hover::after{

    width: 100%;

}

#header1{
    text-align: center;
}

.footer .footer-content{
    border: 1px solid red;
    height: 350px;
    
}

.footer{
    background: #1a8dda;
    color: white;
    height: 400px;
    position: relative;
}
.footer .footer-bottom{
    background: #125d90;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    

}