/*
* @author John Tzortzakis
* CSS
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 100vh;
    width: 100%;
    padding: 0 8%;
    position: relative;
}


html{
    height: 100%;
    background-color: #fff;
    color: black;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 140px;
}

.nav-links{
    padding: 28px 0;
}

.nav-links li{
    display: inline-block;
    margin: 0 15px;
}

.nav-links li a{
    text-decoration: none;
    color: black;
    padding: 5px 0;
    position: relative;
}

.nav-links li a::after{
    content: '';
    background: #1a8dda;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.nav-links li a:hover::after{

    width: 100%;

}

#header1{
    text-align: center;
}



/*Footer*/

#container{
    min-height: 90%;
}

#main{
    overflow: auto;
    padding-bottom: 100px;

}

#footer{
    background-color:#1a8dda;
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
}

